@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font1 {
    @apply capitalize font-semibold text-xl;
}

.padding1 {
    @apply py-[2vh] px-[4vw];
}

.padding2 {
    @apply py-1 px-2;
}
